body {
    background-color: black;
    color: aliceblue;
    font-size: 30px;
}

.motivation {
    margin-left: 25%;
    width: 50%;
    text-align: center;
    align-content: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

img {
    width: 100%;
    border: 10px solid aliceblue;
    margin-top: 10%;
}
